// @import './mixins';
@import './fonts';
@import './variable';

body {
  background-color: var(--white-smoke);
  font-family: 'Roboto';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.alert_text {
  color: #df3737;
}

input,
select {
  border: none;
  font-family: 'Roboto';

  &:focus {
    outline: none;
    border: transparent;
  }
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
